<h1> All SpaceCats </h1>

<ul>
  <% @spacecats.each do |s| %>
    <li> <img src="http://placekitten.com/300/300"> </li>
    <li> <%= "Name: #{s.name}" %> </li>
    <li> <%= "Home Planet: #{s.homeplanet}" %> </li>
    <li> <%= "Tagline: #{s.tagline}" %> </li>
    <li> <%= "Superpower: #{s.superpower}" %> </li>
  <% end %>
</ul>