<!DOCTYPE html>
<html>
  <head>
    <title>SpaceCat</title>
     
     <link href="/css/normalize_styles.css" rel="stylesheet" type="text/css"/>
     <link href="/css/styles.css" rel="stylesheet" type="text/css"/>

  </head> 
  
  <body>
      
      <%= yield %>

  </body>

</html>