<h1> @spacecat.name </h1>

<ul>
    <li> <img src="http://placekitten.com/300/300"> </li>
    <li> <%= "Name: #{@spacecat.name}" %> </li>
    <li> <%= "Home Planet: #{@spacecat.homeplanet}" %> </li>
    <li> <%= "Tagline: #{@spacecat.tagline}" %> </li>
    <li> <%= "Superpower: #{@spacecat.superpower}" %> </li>
  <% end %>
</ul>